.primary{
    font-family: 'Times New Roman';
}

.color-b{
    background-color: rgb(81, 109, 250);
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
}